# Ignore __pycache__ directories
__pycache__

# Ignore test images
images

# Ignore test videos
videos

# Ignore logs
logs
runs/

# Ignore model graveyard
graveyard

# Ignore notes
notes.txt

# Ignore aux_scripts folder
aux_scripts

# Outputs
outputs
